@tailwind base;
@tailwind components;
@tailwind utilities;

/* #test{
height: 420px;
} */

/* .selected{
    text-decoration: line-through;
} */

.checkbox-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px; /* Adjust the line thickness as needed */
  background-color: black; /* Adjust the line color as needed */
  transform: translateY(-50%);
  display: none; /* Initially hide the line */
}

.checkbox-label.line-through::before {
  display: block; /* Display the line only for checked items */
}

.checkbox-label.line-through {
  text-decoration: line-through;
}
